<!DOCTYPE html>

<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CLINICA OZ</title>

  <!-- Custom Google fonts -->
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,300,700' rel='stylesheet' type='text/css'>
  <link href="http://fonts.googleapis.com/css?family=Crimson+Text:400,600" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css">

  <!-- Bootstrap CSS Style -->
  <link rel="stylesheet" href="./css/bootstrap.min.css">

  <!-- Template CSS Style -->
  <link rel="stylesheet" href="./css/style.css">

  <!-- Animate CSS  -->
  <link rel="stylesheet" href="./css/animate.css">

  <!-- FontAwesome 4.3.0 Icons  -->
  <link rel="stylesheet" href="./css/font-awesome.min.css">

  <!-- et line font  -->
  <link rel="stylesheet" href="./css/et-line-font/style.css">

  <!-- BXslider CSS  -->
  <link rel="stylesheet" href="./css/bxslider/jquery.bxslider.css">

  <!-- Owl Carousel CSS Style -->
  <link rel="stylesheet" href="./css/owl-carousel/owl.carousel.css">
  <link rel="stylesheet" href="./css/owl-carousel/owl.theme.css">
  <link rel="stylesheet" href="./css/owl-carousel/owl.transitions.css">

  <!-- Magnific-Popup CSS Style -->
  <link rel="stylesheet" href="./css/magnific-popup/magnific-popup.css">

  <link href=".././dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

  <!-- Preload the Whole Page -->
  <div id="preloader">      
    <div id="loading-animation">&nbsp;</div>
  </div>

  <!-- Navbar -->
  <header class="header">
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation-nav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
           <a class="navbar-brand" href="../index" ><img src="./images/logo.png" alt="" width="75%"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navigation-nav">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a class="section-scroll" href="../index">Inicio</a></li>
            <li><a href="../index #landing-offer">Conócenos</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-hover="dropdown" href="#features-section" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Estudios
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="../electrocardiograma">Electrocardiograma</a></li>
                <li><a class="dropdown-item" href="../laboratorio">laboratorio</a></li>
                <li><a class="dropdown-item" href="../lentes">Lentes</a></li>
                <li><a class="dropdown-item" href="../mastografia">Mastografía</a></li>
                <li><a class="dropdown-item" href="../rayos">Rayos X</a></li>
                <li><a class="dropdown-item" href="../resonancia">Resonancia magnética</a></li>
                <li><a class="dropdown-item" href="../tomografia">Tomografía</a></li>
                <li><a class="dropdown-item" href="../ultrasonido">Ultrasonido</a></li>
              </ul>
            </li>
            <li><a href="../index #team-section">Especialistas</a></li>
            <li><a href="../index #module-maps">Encuentra tu clinica</a></li>
            <li><a href="../index #contact-section">Iniciar sesión</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
  </header>
  <!-- End Navbar -->

  <div id="wrapper">
    <section>
        <div id="hero-section2" class="landing-hero" data-stellar-background-ratio="0">
          <div class="hero-content">
            <div class="container">
              <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
  
                  <div class="hero-text">
                    <div class="herolider">
                      <ul class="caption-slides">
  
                        <li class="caption">
                          <div class="div-line"></div>
                          <br><br>
                          <p class="hero">Tu salud es lo más importante</p>
                          <br><br>
                        </li>
  
                        <li class="caption">
                          <div class="div-line"></div>
                          <br><br>
                          <p class="hero">Conoce acerca de los estudios que realizamos</p>
                          <br><br>
                        </li>
  
                        <li class="caption">
                          <div class="div-line"></div>
                          <br><br>
                          <p class="hero">Consulta los resultados de tus estudios</p>
                          <br><br>
                        </li>
                      </ul>
                    </div> <!-- end herolider -->
                  </div> <!-- end hero-text -->
                </div> <!-- end col-md-6 -->
              </div> <!-- end row -->
            </div> <!-- End container -->
          </div> <!-- End hero-content -->
        </div> <!-- End hero-section -->
      </section>

    <section>
        <div id="landing-offer" class="pad-sec">
          <div class="container">
  
            <div class="title-section big-title-sec animated out" data-animation="fadeInUp" data-delay="0">
              <div class="row">
                <div class="col-sm-6 col-sm-offset-0">
                  <h2 class="big-title">Haz tu cita</h2>
                  <h1 class="big-subtitle">ELECTROCARDIOGRAMA</h1>
                  <hr>
                  <p class="about-text">El electrocardiograma es un proceso seguro, sin representar riesgo para el paciente.</p>
                  <p class="about-text">Consulte a su médico ya que es el único facultado para indicar el tipo de estudio a realizar en cada paciente de acuerdo a su historia clínica e interpretar los resultados.</p>
                </div>
                <div class="col-sm-4 col-sm-offset-1">
                    <img src="./images/ELECTRO.png">
                  </div>
              </div> <!-- End row -->
            </div> <!-- end title-section -->
      </section>
       
      <section class="vh-100">
        <DIV ID="#contact-section">
          
        <div class="container py-100 h-100" style="padding: 150px;">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
      
                  <h3 class="mb-5">Iniciar sesión para realizar una cita</h3>
                  
               <form method="POST" action="/auth">
                   <div class="form-outline mb-4">
                     <input type="email" name="CLI_Correo" id="CLI_Correo" class="form-control form-control-lg" />
                     <label class="form-label" for="typeEmailX-2">Email</label>
                   </div>
                
                   <div class="form-outline mb-4">
                     <input type="password" id="CLI_Contra" name="CLI_Contra" class="form-control form-control-lg" />
                     <label class="form-label" for="typePasswordX-2">Password</label>
                   </div>
                   <input class="btn btn-primary btn-lg btn-block" type="submit">Login</input>
               </form>
                  
      
                
      
               <hr class="my-4">
               <button class="btn btn-lg btn-block btn-primary" style="background-color: #ffffff;"
               type="submit"><a href="../adminses"></i>Iniciar sesión como administrador</button>
                 <button class="btn btn-lg btn-block btn-primary" style="background-color: #ffffff;"
               type="submit"><a href="../createPaciente3"></i>REGISTRARSE</button>
             <!--button class="btn btn-lg btn-block btn-primary mb-2" style="background-color: #3b5998;"
               type="submit"><i class="fab fa-facebook-f me-2"></i>Sign in with facebook</button!-->
   
             </div>
           </div>
         </div>
       </div>
     </div>
   </DIV>
   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

   <% if (typeof alert != "undefined")  { %>
   <script>
   Swal.fire({
     title:'<%= alertTitle %>',
     text:'<%= alertMessage %>',
     icon:'<%= alertIcon %>',
     showConfirmButton: <%= showConfirmButton %>,
     timer: <%= timer %>
   }).then(()=>{
     window.location='/<%= ruta %>'
   })
   </script>
   <% } %>


   </section>

 <!-- Contact-info
 ================================================== -->
 <section>
   <div class="contact-info">
     <div class="container">
       <div class="row">
         <div class="col-sm-4">
           <a href="#"><i class="pe-7s-map-marker"></i>12 Av. Insurgentes</a>
         </div> <!-- End col-sm-4 -->
         <div class="col-sm-4">
         <a href="tel:311 249 0156"><i class="pe-7s-phone"></i>311 249 0156</a>
         </div>
          <div class="col-sm-4">
           <a href="mailto:hello@hotmail.com"><i class="pe-7s-mail"></i>hello@hotmail.com</a>
          </div>
       </div> <!-- End row -->
     </div> <!-- End container -->
   </div> <!-- End contact-info -->
 </section>

 <!-- Footer
 ================================================== -->
 <footer>
   <div id="footer-section" class="text-center">
     <div class="container">
       <div class="row">
         <div class="col-sm-8 col-sm-offset-2">
           <ul class="footer-social-links">
             <li><a href="#">Facebook</a></li>
             <li><a href="#">Twitter</a></li>
             <li><a href="#">Dribbble</a></li>
             <li><a href="#">Behance</a></li>
             <li><a href="#">Pinterest</a></li>
           </ul>
           <p class="copyright">
             &copy; 2022 CLINICA OZ - Created B  Oscar Frías</a>
           </p>
         </div> <!-- End col-sm-8 -->
       </div> <!-- End row -->
     </div> <!-- End container -->
   </div> <!-- End footer-section  -->
 </footer>
 <!-- End footer -->

</div> <!-- End wrapper -->

<!-- Back-to-top
================================================== -->
<div class="back-to-top">
 <i class="fa fa-angle-up fa-3x"></i>
</div> <!-- end back-to-top -->

<!-- JS libraries and scripts -->
<script src="./js/jquery-1.11.3.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/bootstrap-hover-dropdown.min.js"></script>
<script src="./js/jquery.appear.min.js"></script>
<script src="./js/jquery.bxslider.min.js"></script>
<script src="./js/jquery.owl.carousel.min.js"></script>
<script src="./js/jquery.countTo.js"></script>
<script src="./js/jquery.easing.1.3.js"></script>
<script src="./js/jquery.imagesloaded.min.js"></script>
<script src="./js/jquery.isotope.js"></script>
<script src="./js/jquery.placeholder.js"></script>
<script src="./js/jquery.smoothscroll.js"></script>
<script src="./js/jquery.stellar.min.js"></script>
<script src="./js/jquery.waypoints.js"></script>
<script src="./js/jquery.fitvids.js"></script>
<script src="./js/jquery.magnific-popup.min.js"></script>
<script src="./js/jquery.ajaxchimp.min.js"></script>
<script src="./js/jquery.countdown.js"></script>
<script src="./js/jquery.navbar-scroll.js"></script>
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="./js/jquery.gmaps.js"></script>
<script src="./js/main.js"></script>

</body>
</html>